.main-layout {
  margin: 0 auto;
  /* padding-left: 1.6rem;
  padding-right: 1.6rem; */
}

.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
}

footer {
  position:absolute;
    width:100%;
    bottom:0px;
  /* background-color: var(--gray3); */
  background-color:  transparent;
  color: white;
  font-family:  lato , sans-serif;
  font-size: 0.8rem;
  /* padding: 1em; */
  text-align: center;
}


